@charset "UTF-8";

* {margin: 0; padding: 0;}

html {scroll-behavior: smooth;
  scroll-padding-top: 17.9vw;
}

body{box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  color: #F3F4F6;
  font-family: Arial, Helvetica, sans-serif;
}

/*media*/
/*    HEADER SECTION    */

.header {
  width: 100vw;
  background: #030303;
  position: relative;
  box-shadow: 0px 2px 3px #212121;
  z-index: 2;
  position: fixed;
}

header img {
  width: 45vw;
  max-width: 15rem;
  padding: 0.1rem 0;
  background: #030303;
}


label > img {
  width: 8vw;
  position: absolute;
  right: 4vw;
  top: 3.5vw;
}

#check:checked ~  nav{
  transform: translateY(92.5vw);
}

#check {display: none;}




nav {
  width: 100vw;
  height: 75vw;
  background: #080808E8;
  list-style: none;
  position: absolute;
  /*top: 17.5vw;*/
  top: -75vw;
  z-index: -1;
  align-items: center;
  transition: all .5s;
}



nav ul > li{
  
  font-size: 4.5vw;
  padding: 2.1vw;
  margin: 2.1vw 1vw;
}

ul li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 4.5vw;
}


.header-right img {
  width: 45vh;
  margin-bottom: 100%;
}


main {
  position: relative;
}


.section-header {
  background: #181820F6;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}


.header-left {
  width: 100vw;
  height: 50%;
  font-size: 7vw;
  letter-spacing: 1vw;
  text-align: center;
  color: #F3F4F6;
}

.info-container {
  width: 70%;
  text-align: left;
  margin: 9vh auto;
  padding: 0vw 5vw;
}


.header-right {
  width: 100vw;
  height: 50%;
  display: none;
}



.header-left h1{
  color: #04C4D9;
  font-size: 13vw;
  letter-spacing: 1.5vw;
}


#spanB {
  font-size: 3.5vw;
  position: absolute;
  line-height: 6vw;
}


.header-left  a {
  font-size: 2.8vw;
  font-weight: bold;
  color: #F3F4F6;
  text-decoration: none;
  padding: 2.5vw 2vw;
  border-radius: 1vw;
  letter-spacing: 0.5vw;
  line-height: 4vw;
  cursor: pointer;
}


#linkedin {
  border: .4vw solid mediumvioletred;
  margin-right: 2.5vw;
}
#linkedin:hover {
  background: linear-gradient(45deg, mediumvioletred, #B106CD);
  color: #F3F4F6;
}

#github {
  border: .4vw solid #7106FF;
  padding: 2.5vw 4vw;
}
#github:hover {
  background: linear-gradient(45deg, #7106FF, #9722FF);
  color: #F3F4F6;
}


.header-left a > img {
  width: 3vw;
}




/*     Conteúdo     */


.conteudo {
  width: 100vw;
  color: #F3F4F6;
  text-align: center;
  font-size: 3.8vw;
  font-weight: 400;
}

.dark {
  background: #101014;
  padding: 1vw 0vw 0vw;
}
.dark p {
  padding: 0vw 5vw;
}

.titles {
  background: linear-gradient(45deg, #25aef3, #0dc4d9);
  width: 30vw;
  padding: 2vw 0vw;
  margin: auto;
}
.titles > h2 {
  font-size: 6vw;
  font-weight: 600;
}
.conteudo p {
  letter-spacing: 0.29vw;
  line-height: 7.5vw;
}


/*------------------------------------*/
#html{font-weight: bolder;}
#css{font-weight: bolder;}
#js{font-weight: bolder;}
/*------------------------------------*/




.light {
  background: #121219F9;
  padding: 1vw 0vw 0vw;
}


.skills-container {
  padding: 5vw 5vw;
  width: 80vw;
  margin: 6vw auto;
}

#mobile >img, #web > img {
  width: 10vw;
}
#mobile, #web {
  background: linear-gradient(to top, #25AEF3, #0DC4D9);
  width: 10vw;
  height: 10vw;
  margin: auto;
}

.skills-container > h3 {
  font-size: 4.5vw;
  font-weight: 500;
  padding: 1vw 0vw;
  margin: 2.5vw 0vw 1vw;
}
.skills-container > p {
  line-height: 6vw;
  font-size: 3.5vw;
}



aside div {
  background: #FF00D4;
  width: 12vw;
  height: 12vw;
  display: inline-flex;
  margin: auto;
  margin: 0vw 9vw 15vw;
}
aside div > img {
  width: 12vw;
}

/*------------------------------------*/
#html5{
  background: linear-gradient(to top, #FF6900, #FFA600);
}
#css3 > img {
  width: 10.5vw;
  height: 12.5vw;
}
#css3 {
  width: 10.5vw;
  background: linear-gradient(to top, #008FE3, #33D1ED);
}
#js6 > img {
  width: 11.5vw;
  height: 12vw;
}
#js6 {
  width: 11.5vw;
  background: linear-gradient(to top, #FF9E06, #E8CE01)
}
/*------------------------------------*/



/*     Projects     */


.projects-container {
  padding: 0vw 5vw 13vw;
  margin-top: 10vw;
  display: flex;
  flex-wrap: wrap;
}
.project {
  width: 100%;
  margin: 4vw auto;
  background: #191919F6;
}
.project-img {
  padding: 4vw;
}
.project-img > img {
  box-shadow: 0px .2px 8px #090909F0;
}

.project-img > #breve {
  width: 100%;
  padding: 17vw 0vw;
  background: #252528;
}

.project > h3 {
  font-size: 5vw;
  font-weight: 500;
  /*text-transform: uppercase;*/
}

.project > p {
  font-size: 3.48vw;
  line-height: 6.5vw;
  letter-spacing: 0.4vw;
  padding: 6vw 3vw;
}

.project > a {
  text-decoration: none;
  background: linear-gradient(20deg, #25aef3, #00F2FF);
  display: inline-block;
  -webkit-background-clip: text; background-clip: text;
  color: transparent;
  border: .4vw solid #00BCE8;
  padding: 1.8vw 3.5vw;
  margin-bottom: 7vw;
  border-radius: .7vw;
}

.project > a:hover {
  color: #F3F4F6;
  cursor: pointer;
  background: linear-gradient(20deg, #00A5E8, #09CBFF);
}


.contact{
  padding: 0vw 5vw 8.5vw;
}
form {
  background: #161616;
  text-align: justify;
  padding: 10vw 5vw;
  margin: 10vw auto 0vw;
  box-shadow: 0px .1px 10px #090909F0;
}
form > label {
  font-size: 3.5vw;
}

form > input, textarea{
  width: 90%;
  padding: 3vw 2vw;
  background: #161616;
  border: .4vw solid #4EDAF2A6;
  outline: none;
  color: #F3F4F6;
  font-size: 3.2vw;
  margin: 1vw 0vw 3.8vw;
}

form > button {
  width: 45%;
  border: .3vw solid #38B9FF8F;
  padding: 2.4vw;
  font-size: 3.6vw;
  color: #42DEF9BD;
  background: #161616;
  margin: 6vw 0vw 0vw;
}
form > button:hover {
  background: linear-gradient(45deg, #0096FF, #47B3FF);
  color: #F3F4F6;
}



/*     FOOTER     */

footer {
  background: #030303;
  color: #F3F4F6;
  font-size: 4vw;
  text-align: center;
  line-height: 7vw;
  padding: 8vw 0vw 3vw;
}
footer > strong {
  color: #F3F4F6;
}
footer > a {
  color: #F3F4F6;
  font-style: italic;
}






/*--------------Tablets---------------*/

@media (min-width: 580px) and (max-width: 900px) {
  
  header img {width: 33vw;}
  
  label > img{display: none;}
  
  nav {
    height: 30%;
    margin-top: 73%;
    background: transparent;
    z-index: 2;
    display: flex;
  }
  
  nav ul {display: flex;
  height: 30%;
  width: 100vw;
  margin-left: 33vw;
  }
  ul > li{padding: 0vw; margin: 0vw;}
  ul li > a {
    font-size: 2.3vw;
    padding: 0vw;
  }
  
  
  .section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .info-container{padding: 0vw -10vw; 
    width: 90%;
  }
  
  
  
  .header-right {
    width: 50vw;
    height: 100%;
    display: block;
    background: #FD00BE;
  }
  .header-right > img {margin-top: 25%;
    margin-left: 35%;
    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  
  @keyframes float {
    0%{margin-top: 26%;}
    50%{margin-top: 27%;}
    100%{margin-top: 26%;}
  }
  
  
  
  
  .header-left {font-size: 4.5vh; letter-spacing: 1vw;
    padding: 0;
    width: 50vw;
  }
  
  .header-left h1 {
    font-size: 9vh;
    letter-spacing: 1vh;
  }
  
  #spanB{font-size: 2.3vh;
    letter-spacing: .8vh;
  }
  
  .header-left  a {
  font-size: 1.8vh;
  padding: 3vh 1.5vw;
  border-radius: .6vw;
  letter-spacing: 0.3vw;
  line-height: 4vh;
  }
  
  #linkedin{border: .25vw solid mediumvioletred;}
  #github{border: .25vw solid #7106FF;
    padding: 2.5vh 2vw;
  }
  
  
  .header-left a > img{width: 2vw;}
}
